# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Output directories
dist/
dist-electron/
out/
build/
release/
*.exe
*.msi
*.zip

# Environment & local settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# User data & temporary testing databases
userData/
*.local.json

# IDE & OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
